{% extends "base.html" %}
{% block title %}Ver Noticia{% endblock %}
{% block content %}
<div class="container">
  <h1>{{ noticia.titulo }}</h1>
  <p><strong>Fecha:</strong> {{ noticia.fecha_publicacion|date:"d/m/Y" }}</p>
  <p><strong>Público:</strong> {% if noticia.publico %}Sí{% else %}No{% endif %}</p>
  {% if noticia.imagen %}
    <img src="{{ noticia.imagen.url }}" class="img-fluid mb-3 rounded">
  {% endif %}
  <div class="card">
    <div class="card-body">
      {{ noticia.cuerpo|linebreaks }}
    </div>
  </div>
  <a href="{% url 'gestion_cofradia:lista_noticias' %}" class="btn btn-cancelar mt-3">Volver</a>
</div>
{% endblock %}