{% extends 'base.html' %}

{% block title %}Crear Préstamo{% endblock %}

{% block content %}
{% load widget_tweaks %}
    <div class="container mt-5">
        <h1 class="mb-4">Crear Préstamo</h1>
        
        <form method="POST">
            {% csrf_token %}

            <!-- Campo Hermano -->
            <div class="mb-3">
                <label for="{{ form.hermano.id_for_label }}" class="form-label">Hermano</label>
                {{ form.hermano|add_class:"form-select" }}
            </div>

            <!-- Campo Inventario -->
            <div class="mb-3">
                <label for="{{ form.inventario.id_for_label }}" class="form-label">Inventario</label>
                {{ form.inventario|add_class:"form-select" }}
            </div>

            <!-- Campo Fecha de Prestamo -->
            <div class="mb-3">
                <label for="{{ form.fecha_prestamo.id_for_label }}" class="form-label">Fecha de Prestamo</label>
                {{ form.fecha_prestamo|add_class:"form-control" }}
            </div>

            <!-- Campo Fecha de Devolución -->
            <div class="mb-3">
                <label for="{{ form.fecha_devolucion.id_for_label }}" class="form-label">Fecha de Devolución</label>
                {{ form.fecha_devolucion|add_class:"form-control" }}
            </div>

            <!-- Campo Estado del Material -->
            <div class="mb-3">
                <label for="{{ form.estado_material.id_for_label }}" class="form-label">Estado del Material</label>
                {{ form.estado_material|add_class:"form-control" }}
            </div>

            <!-- Campo Comentario -->
            <div class="mb-3">
                <label for="{{ form.comentario.id_for_label }}" class="form-label">Comentario</label>
                {{ form.comentario|add_class:"form-control" }}
            </div>

            <!-- Campo Fianza -->
            <div class="mb-3">
                <label for="{{ form.fianza.id_for_label }}" class="form-label">Fianza</label>
                {{ form.fianza|add_class:"form-control" }}
            </div>

            <!-- Botón de Enviar -->
            <button type="submit" class="btn btn-primary">Crear Préstamo</button>
            
        </form>
        <div class="text-center mt-4">
            <a href="{% url 'lista_prestamos' %}" class="btn colorCofradia textoMulticolor">
                ⬅️ Volver
            </a>
        </div>
    </div>
{% endblock %}
